<%- include('../layout',{title:'Sản phẩm'}) %>
<div class="content">
    <h1 class="contenth1">Danh sách sản phẩm</h1>
    <a class="buttonA" href="/admin/products/add">Add</a>
    <div class="search-container">
        <form action="/admin/products/search" method="POST">
            <input type="text" name="searchTerm" id="searchTerm" placeholder="Nhập từ khoá...">
            <button type="submit">Tìm</button>
        </form>
      </div>
    <ul class="ulc">
        <% products.forEach((product) => { %>
            <li class="lic"><%= product.Name %> - <%= product.Price %> VNĐ
                <img src="/products/<%= product.Img %>" alt="Product Image" width="120">
                Mô tả: <%= product.ShortDes %>
                <div class="button-container">
                    <a class="buttonX" href="/admin/products/<%= product.Id %>">Chi tiết</a>
                    <a class="buttonU" href="/admin/products/update/<%= product.Id %>">sửa</a>
                    <form class="form" method="POST" action="/admin/products/del/<%= product.Id %>">
                        <button class="buttonD" type="submit" name="button" value="add">Xoá</button>
                    </form>
                </div>
                
            </li>
        <% }); %>
    </ul>
</div>
<style>
    .ulc {
      list-style-type: none;
      padding: 0;
      height: 50px;
    }
    .lic {
        height: 120px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }
    .search-container {
    display: inline;
    text-align: right;
    margin: 50px auto;
    }

    .search-container input[type="text"] {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }

    .search-container button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .search-container button:hover {
        background-color: #0056b3;
    }
</style>